@import url("https://fonts.googleapis.com/css?family=Staatliches|Akshar:400,500,700,900|Poppins:700");


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fg: #f5edc4;
  --bg: #ec9f30;

  --primary-color: var(--bg);
  --secondary-color: #00201f;
  --accent-color: #435443;
  --text-color: var(--fg);
  --dark-color: #353535;
  text-shadow: 2px 2px grey;
}

html {
  height: 100vh;
}

body {
  line-height: 1.6;
  font-family: Akshar, sans-serif;
  font-size: 20px;
  /* background-color: var(--bg); */
  background-image: url("../images/noise.png");
  color: var(--fg);
  letter-spacing: 1px;
    background-color: #4e75a2;
}

ul {
  text-align: center;
  list-style-position: inside;
}

header {
  /* position: sticky;/ */
  /* top: 0; */
  height: 70px;
  padding: 0 10vw;
  /*border-bottom: 1px solid #d27542;*/
  display: flex;
  align-items: center;
  justify-items: space-between;
  scroll-behavior: smooth;
}

header .logo {
  display: inline-flex;
  align-items: center;
  float: left;
  font-family: Staatliches;
  user-select: none;
}

header .logo a {
  display: inline-flex;
  align-items: center;
  column-gap: 1rem;
  text-decoration: none;
  color: var(--fg);
}

header .button {
  margin: 0;
  padding: 0.8em 2em;
  min-width: 20ch;
  font-size: 16px;
}

header div {
  width: 100%;
  display: flex;
  justify-content: center;
}

header div ul {
  display: flex;
  list-style: none;
}

header div ul li {
  margin: 0 2rem;
}

header div ul li a {
  text-decoration: none;
  color: var(--fg);
  font-family: Poppins, sans-serif;
  font-size: 16px;
  position: relative;
  user-select: none;
}

header div ul li a.active::after {
  content: "";
  background-color: var(--fg);
  width: 0.4em;
  height: 0.4em;
  border-radius: 50%;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.banner {
  height: 100%;
  padding: min(16vh, 10vw) 10vw;
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}

.title__box {
  display: flex;
  flex-flow: column;
  grid-area: 1 / 1 / 2 / 2;
}

.image__box {
  grid-area: 1 / 2 / 2 / 2;
  perspective: 500px;
}

.image__box img {
  pointer-events: none;
  user-select: none;
  width: 40vw;
  transform: rotateY(-4deg);
}

.title {
  margin-bottom: 0.2em;
  line-height: 0.9;
  font-size: calc(2rem + 7vw);
  font-family: Staatliches, sans-serif;
  font-weight: 600;
  color: var(--fg);
  letter-spacing: 0;
}

.subtitle {
  max-width: min(600px, 40vw);
  line-height: 1.4;
}

.subtitle::first-letter {
  font-size: 2em;
}

em {
  font-style: normal;
  font-weight: 900;
  color: var(--accent-color);
}

.indent {
  margin-left: 1rem;
}

.button-container {
  margin: 2em 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
}

.button {
  display: inline-block;
  line-height: 1;
  text-decoration: none;
  border-radius: 2em;
  user-select: none;
  min-width: 22ch;
  text-align: center;
  font-weight: 500;
  text-shadow: 1px 1px grey;
  background-color: rgb(163, 33, 96);
  text-align: center;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  cursor: pointer;
  font-size: 25px;
}

.button.accent {
  background-color: var(--accent-color);
  color: var(--fg);
}

.button.primary {
  background-color: #f6ebd9;
  color: #dc5e6c;
}

@media (width < 1000px) {
  .image__box img {
    display: none;
  }

}
.img_fit {
  max-width: 90%;
  max-height: 90%;
}